ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  width: 100%;

  @media screen and (min-width: 768px) {
    overflow: hidden;
  }
}
.carousel-item {
  flex: 0 0 85%;
  padding: 0 0.5rem;
  /* Fyra bilder i taget */
  /* transform: translateX(-100%);
  transition: transform 0.3s ease; */
  @media screen and (min-width: 768px) {
    flex: 0 0 25%;
    padding: 0 12px;
  }
}

.buttonWrapper {
  @media screen and (max-width: 768px) {
    display: none;
  }
}

/* .active {
  transform: translateX(0);
} */

/* .visible {
} */

/* .hide {
  /* transform: translateX(-800%);
  transition: transform 0.3s ease; */
/* } */
*/ .container {
  max-width: 1232.4px;
}

.dotList {
  display: flex;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.dot {
  height: 8px;
  width: 8px;
  background-color: rgb(235, 235, 235);
  opacity: 1;
  border-radius: 100%;
  margin: 0px 4px;
}

.dot-filled {
  background-color: black;
}
