ul {
  display: flex;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}
.carousel-item {
  flex: 0 0 25%; /* Fyra bilder i taget */
  /* transform: translateX(-100%);
  transition: transform 0.3s ease; */
}

/* .visible {
} */

/* .hide {
  /* transform: translateX(-800%);
  transition: transform 0.3s ease; */
/* } */
*/ .container {
  max-width: 1232.4px;
}
